---
interface Etape {
  titre: string;
  texte: string;
}

interface Props {
  titre?: string;
  intro?: string;
  etapes?: Etape[];
  lienHref?: string;
  lienTexte?: string;
}

const {
  titre = "Comment ça se passe ?",
  intro,
  etapes = [],
  lienHref,
  lienTexte,
} = Astro.props;
---

<section class="etapes">
  <div class="container">
    <h2 data-aos="fade-up">{titre}</h2>
      {intro && <p class="etapes-intro" set:html={intro} data-aos="fade-up" data-aos-delay="100" />}
    {etapes.map((etape, index) => (
      <div class="etape" data-aos="fade-up" data-aos-delay={index * 100}>
        <div class="etape-name">
          <h3>{etape.titre}</h3>
        </div>
        <div class="etape-texte">
          <p>{etape.texte}</p>
        </div>
      </div>
    ))}
    {lienTexte && (
    <a href={lienHref} class="bouton-clair">{lienTexte}</a>
    )}
  </div>
</section>


<style>

.etapes {
  background: var(--bg-marble); 
  color: var(--color-text);
  display: flex; 
  flex-direction: column;
  gap: 1rem; 
  counter-reset: etape-compteur;
}

.etape {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
    padding-block: 1rem;
    counter-increment: etape-compteur;
}
.etape + .etape {
  border-top: 1px solid oklch(1 0 0 / 0.30);
}


.etape-name {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.etape-name h3 {
  margin: 0;
}

.etape-name::before {
  content: counter(etape-compteur);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-text);
  color: white;
  font-weight: bold;
  flex-shrink: 0;
}


</style>